# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json
!terraform.tfvars.example

# Terraform plan files
*.tfplan

# Sensitive / private keys
*.pem
*_rsa
*.key

# Crash logs
crash.log
crash.*.log
